<a href="https://colab.research.google.com/github/bilgekisi96/lab1.1/blob/main/Statistics_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Descriptive Statistics

 Import **NumPy**, **SciPy**, and **Pandas**

In [6]:
import numpy as np
import pandas as pd
from scipy import stats

 Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

In [4]:
mean,standard_deviation = 100,15
samples = np.random.normal(mean, standard_deviation, 1000)
samples

array([ 89.36172958, 102.83922744,  86.42816728, 111.54058602,
       106.58609206, 127.21157345, 112.33488757,  98.47469028,
       113.42985602,  84.47300832,  93.99526761,  89.26792011,
        78.67049877,  89.14915073, 100.94869699, 130.28669738,
        97.45331784, 109.59552849, 102.88232405, 101.65603012,
       120.23307484,  93.16178001, 134.27102476,  98.02126656,
        99.35325967,  94.98639139, 112.53105537, 113.59284994,
       105.42948502,  76.32723119, 104.33661903,  89.92366109,
       101.17172214, 105.83149981, 121.76460138,  67.02315978,
       100.01769653, 118.91131069, 131.65854072, 103.48306508,
        78.28650448, 129.99626009, 121.9436913 ,  93.1676047 ,
       106.01906087, 104.54875292, 103.33569939,  97.37993512,
       106.43544368, 110.13267163,  97.66038988,  86.56237501,
       108.52718505, 120.49455717,  70.5121522 , 102.40949295,
       103.46434636,  74.12417114,  93.32947713,  97.39594105,
       110.17761804, 100.57241936, 100.89935378,  81.54367177,
       109.33022495, 113.73997798, 117.16530132, 112.56244327,
        95.01948082, 125.06503019,  69.20597587,  87.38703648,
       126.07759688, 100.91937942,  98.66175641, 101.08772623,
        92.13509663, 101.4321694 ,  98.36790832,  95.52282151,
       116.48924428,  90.27765541, 108.52348479,  97.607061  ,
        73.39598316,  93.57102728,  97.7271901 , 108.55667655,
        97.14082701,  92.72994968,  70.65753319, 116.13149214,
       124.1757566 , 113.84888794,  84.36989794,  96.04752416,
       105.59567808, 109.13108538,  87.11119301,  94.81077549,
        99.71940537, 128.16253612,  95.90167675,  91.62628907,
        95.2716196 , 106.79222668, 123.23875361,  76.57832544,
       101.26657378, 136.36062611,  93.80571789,  86.12754683,
       117.15751042, 133.52467753, 115.0122571 , 101.29158691,
       107.62936777, 109.63776433, 117.83521695, 101.33150585,
        85.20759969, 113.72882639,  75.2441782 ,  90.04994511,
       102.17118176, 110.37288268,  91.2534881 ,  84.17553053,
        86.44407323,  76.80748721,  89.84865626, 115.97282731,
       103.36377692,  84.44202574, 129.62257569, 116.85326628,
       108.36032825,  94.9622379 , 108.07536746, 118.57000807,
        77.37810713, 100.22285506, 103.31802257,  82.99023189,
        56.94552963, 129.94655907, 112.20076984, 104.42719611,
       107.68251696,  80.54802865, 122.03614032,  96.96979189,
       101.84123037, 102.87384157,  99.87265092,  90.36480495,
       101.51030964, 138.91443782,  74.86512944, 114.0920621 ,
       111.44461649,  97.11505923,  88.29470823, 116.65995733,
       111.78035656,  82.76745069, 115.10650881, 117.49682056,
       123.2639788 ,  92.28007137,  99.00536619,  86.80989354,
       112.34208382,  99.67013985,  96.62728512,  68.58659085,
       108.4293644 , 103.88271318, 120.12464722, 107.36839599,
       100.24213647, 106.37039779,  87.77376946, 103.80414439,
        99.11203632,  93.60937865, 111.41542689, 124.29048666,
       102.69538111, 117.7325435 , 118.5805502 , 112.10170157,
        96.46562803, 100.25481442, 123.60670965, 100.26888955,
        90.58988289, 125.03314867, 102.91293473, 116.73753215,
        60.63111341,  78.19431008,  69.23354183,  88.30162083,
        99.99919193,  91.21968392,  91.4382022 ,  95.30620596,
       118.35878884, 101.97817647, 108.41381764,  94.35719716,
       106.98071702, 101.3541082 ,  86.75552471,  91.46204498,
        86.31932399, 100.62436592, 118.57245003, 103.32502784,
       104.38810825, 104.48654529, 115.51722923, 130.39567594,
       107.85458113, 128.093319  , 114.17870789,  70.64000441,
       117.46667213,  90.89575815,  82.29678856, 130.84171396,
       100.74538189, 101.90074436, 113.19868095,  93.17185799,
       114.1198768 , 113.61969687,  81.83011461, 109.22453002,
       109.76102523,  98.54402195,  81.7963849 , 108.09456969,
       121.5214799 , 109.66520735, 101.05340555,  85.90664335,
        86.31429447, 107.00695404, 113.37668928, 129.46988573,
        98.02336665,  97.92023462,  87.87160055,  99.36445712,
        93.64674223,  85.74867901,  89.81324835, 102.33687753,
        90.22828384,  90.75939653,  85.83251806, 109.04957071,
       108.18880226, 101.97173113,  95.43063458,  93.37856357,
        95.31857344,  98.69901498,  95.93200763,  81.89032238,
       111.83069458,  88.93249182, 104.29089305,  90.29532409,
       104.99988888,  89.44895942,  80.3643065 ,  90.65291084,
        85.84545364, 123.52681238, 103.15063911,  66.74791646,
        69.02398143, 109.76951513,  94.28562945,  85.69670918,
       109.14370409, 109.69415108,  80.04288031,  75.06532412,
       114.81034093, 110.06855235,  97.0012729 ,  79.8227649 ,
        82.01565523,  93.54911505,  79.38589021,  83.26798977,
       104.34263017,  54.79001307, 110.80216083, 107.30425658,
       121.53931039,  97.77683959, 128.10862519, 101.60882734,
        98.0837884 , 101.45297997, 132.12841227,  77.20530873,
       106.48889293,  83.57701762, 104.46057767, 105.8808529 ,
        67.15071129,  83.89744565, 115.74965186,  86.40107644,
        90.33000008, 116.19978259, 106.09014536,  86.14768775,
        76.15279815, 124.57475274, 110.89929085, 105.94696159,
       109.60808362,  92.36676137, 106.95524451, 107.67550153,
       106.2483627 , 116.11367664,  91.13599761,  78.39244758,
       100.78518888, 111.19960059,  95.14812686, 109.04807909,
        95.66249221, 100.65437936, 110.03163149, 110.13406283,
       108.80755616, 120.60986046,  99.6501064 ,  85.36745313,
       103.0637371 , 101.13507903, 102.96471271,  82.51638031,
        98.120815  ,  85.24070296,  77.60627965, 135.85433952,
       103.77463323,  86.59173367,  92.3010828 , 114.52507493,
        93.4692955 , 114.92960995,  68.90730477, 116.24485827,
        96.29755543,  89.9567684 ,  96.7685056 , 100.78886429,
       103.86394857, 124.02520563,  92.60414225, 103.47479041,
       129.62404676,  98.60513591, 106.77752436, 128.19178544,
        84.6052686 , 123.42533899,  99.2117701 ,  81.02756795,
       125.51027266, 114.24725486,  83.84241019,  96.24504429,
        93.80688768,  93.56674237,  86.87213216,  74.69441859,
       134.22802445,  78.01445329,  99.63211452, 109.90202332,
        97.92882429, 100.22975661,  92.95302477,  79.18770664,
       118.07262054, 102.3935718 ,  89.44794731, 130.69223472,
       102.39753686,  87.92358239,  95.54189703, 131.85694007,
       116.58060229, 107.97442335,  89.72047878,  95.89678066,
       118.45862632, 101.77615978,  92.79789559, 106.46390227,
       112.60266443,  78.77832401,  95.30368788,  78.86611448,
        99.38553492, 102.32224169,  96.37257491, 114.43553717,
       107.04138901,  99.42428639,  87.93210437, 109.86691828,
       117.9340576 , 112.18161614,  96.93522623,  96.82882752,
        66.63448272,  98.16932149,  94.30709038,  87.58891628,
       102.12260471, 103.09984817, 102.08966493,  84.15582988,
        90.32684692, 109.10887196, 108.60170934,  94.62054874,
       107.56655334,  97.75619386, 111.73320125, 127.63681419,
       125.65865296,  80.09516841,  88.27580998,  97.267819  ,
       124.78933897, 112.35075127,  97.62741978,  96.03122364,
        94.8773856 ,  76.58678752,  77.99346902, 118.17684772,
       104.14469849, 114.58969332,  87.30464688,  56.66616951,
       118.7744107 , 102.01993992,  69.85903817, 116.01811376,
        80.64377488,  95.61281183, 112.3503703 , 102.62472401,
        99.40872862,  92.90452076, 115.98409052, 106.61993898,
       111.32316402, 105.14321281, 100.71584521,  79.73103988,
       101.44286828,  77.47470533, 125.00763816, 102.83875529,
        93.05389777, 102.82260446,  88.68460335, 109.24668966,
        88.61922562, 100.24670308, 126.3815182 ,  76.8414898 ,
        90.22754585,  85.9232042 , 101.98043365, 140.92737169,
        92.99207014,  96.0647651 ,  98.56049876,  88.77982758,
        99.57413044,  99.3943012 ,  81.47756656, 102.18008038,
        82.76018138, 123.69717598, 126.07807381, 119.35337228,
       106.66390878,  99.55369027,  86.18600049,  91.40953395,
       105.69098239,  92.32701042, 118.61938783,  94.90466467,
        91.28113977,  79.0194756 ,  87.37207976, 111.93359883,
        99.64592114,  98.74670411, 126.0084731 , 114.60743936,
       106.98743932,  96.70672146, 101.78122878,  92.54210055,
        95.14207952, 104.2415641 ,  96.72348826,  95.75844755,
        90.8584846 , 104.66967706, 115.33785029, 109.00334281,
       114.3711003 , 124.37060311,  76.73690832,  97.17724359,
       110.20339681, 105.96898691, 125.80933973,  88.31070502,
        81.75792491,  75.40033916, 111.61137285,  90.48122331,
       113.05684192, 102.11770937,  94.54723429,  97.16519546,
        85.94169274,  95.77302272, 102.87411661, 116.86618908,
       103.68687254,  98.63435906,  83.02084343,  87.40184446,
        86.03034859, 101.48853758,  99.84274089, 124.98785442,
       102.21189127, 108.16523019,  98.80554201, 125.80683191,
       123.67358786, 122.85525814, 100.56924557, 119.27417281,
       104.53404824, 128.90308492,  91.13596529, 110.08570368,
       106.39601029,  92.70686328, 113.63519411,  84.52047164,
       111.65001192,  94.15822986,  98.8465988 ,  95.85535954,
        90.11726383,  84.53023208,  88.76548553, 120.88986185,
       108.36677034, 130.1611812 , 106.95523235, 100.14917122,
        95.0952904 ,  86.47870235,  96.83298606,  68.41599155,
        97.89165954,  89.33157544, 118.14573947,  90.08009229,
        94.8281149 ,  75.56390022,  84.16102762, 113.64499947,
       117.52907446,  99.59673245, 116.38821622, 112.21111978,
       117.01923545,  98.54333581,  98.12714805, 107.16509409,
        97.69932172, 118.35319253, 118.11753364, 113.98315493,
        93.618903  , 107.80670515, 102.29809798,  91.24141708,
       122.15815047,  84.0870092 ,  88.92945911, 119.37756283,
       110.8365946 , 106.3944542 ,  95.16697588, 125.2487999 ,
       114.57204075, 108.50719498,  99.36490311,  88.87573823,
        95.62326358, 103.79644825,  89.69180421, 110.9674832 ,
       106.0713521 ,  93.35714152,  86.97578515, 120.9410484 ,
        87.15729452, 113.14730754, 102.05019627, 100.77931154,
        97.39104484, 103.87582002, 111.85848411, 110.09754211,
       116.91962472,  98.09220245,  79.04755983, 101.89612221,
        96.66216032,  93.54056475, 108.65874422,  92.27372241,
       100.30115591,  91.15913285,  65.05854922, 122.47954132,
        71.31349652,  83.77845881,  94.26525593,  97.55993233,
        67.82495896, 119.24558178,  86.56969644, 118.76919647,
       101.76735322,  73.72441317,  72.63482324,  87.70307382,
       112.22422323, 109.56605868,  85.29831914,  81.94833697,
       100.89466136, 106.6174696 ,  93.91688972,  76.78137996,
       101.48448998,  69.63724543, 117.48127105, 104.90086689,
        77.07624582, 113.43747132, 103.0998823 ,  97.69674677,
       121.23995963,  86.59864668,  87.96498675, 128.4007304 ,
       118.2836702 ,  91.00418805,  97.5113988 ,  73.76166758,
        91.17878749,  87.42193471,  93.68823302,  93.85999439,
       114.56146261,  99.03306129, 105.73815219,  88.20996098,
        94.66753642, 111.84193714,  81.95940424, 100.11131378,
        94.28553234,  89.95342287,  92.9678362 , 105.80220929,
       106.52350137, 104.37009252, 110.36234157, 107.42109912,
        90.32690758, 103.64975113,  99.51400759,  81.05464963,
       107.7529126 , 107.09710727, 120.87157619,  98.65253168,
       114.75606925, 112.67474312,  79.08032629,  95.92365949,
        78.00579844,  98.90483768, 110.51558105,  78.43172441,
        93.14023314, 112.01969066, 120.82227031,  89.27629238,
       115.33173987,  76.03868284,  85.61601535, 121.75728461,
        83.0064636 , 105.72094708, 106.66226489,  98.70806787,
        82.43490442, 101.14722898, 107.08733116, 103.85481626,
        70.50081888,  93.78207911, 100.99027123, 115.58467647,
        86.23648964,  70.86426656,  87.81710123, 114.52228643,
       102.70945588,  76.7600157 , 119.98948694,  95.20287372,
        77.15590766,  84.48348438, 104.88617061,  73.19888521,
        96.57743067, 115.15392838, 106.81465592, 127.58402907,
       103.2960352 , 121.26175961,  72.76810265,  87.33501401,
        94.29167498, 109.44990807,  85.17465477, 101.4427665 ,
       101.45314391, 110.17242173,  94.43801338,  80.98432191,
       129.54353612,  87.26011116, 126.9501734 ,  96.15761619,
       109.90457656, 111.43347176,  93.37706776,  98.87068593,
        91.84625778,  81.43368328,  91.95194772,  88.67685821,
        84.77437004,  96.6118322 , 116.92848341, 128.05086603,
       122.10566034, 113.71064815, 112.92357247,  76.23371229,
       122.00312453,  72.63019449,  98.55112802,  63.03007642,
       100.79213634,  83.1063393 , 113.30183561, 106.04078845,
       121.24464387,  85.31115846, 128.79641585,  85.04426048,
        88.13200199,  83.53543444, 101.08555718,  86.99022599,
       123.63665505, 110.22316434,  85.54450396, 115.14580944,
        66.11511376,  96.67198938,  74.58649127,  93.58667907,
       102.38697543,  94.16223146, 111.72431629, 108.63626646,
        85.59213405,  93.43836812,  94.13655256, 117.41548786,
        80.09243123,  84.27107122,  98.87229618, 148.55258049,
       106.79562124, 117.68656435, 118.64169718, 106.7703312 ,
       105.79143971,  79.11293905,  93.18994223,  88.60521941,
       110.03533658, 121.9777551 , 111.03026366, 112.18576409,
        88.35168364, 109.41558   , 106.9916081 ,  93.86898786,
        83.88230258, 113.03439617, 108.12201919, 102.46829119,
       110.34675303,  88.26501467,  86.43548681, 103.54700041,
        93.70158201, 105.93044194,  94.82893926,  95.33719112,
        82.70165333, 103.45149456,  94.27076933, 102.28607593,
        75.992064  ,  82.42808201, 108.81075088,  87.43269159,
       134.28204619,  84.24518877,  99.11429573, 107.0271142 ,
        97.83399644, 103.95304875,  92.3224982 ,  95.28065441,
        80.55917281,  89.221328  ,  92.42347951, 100.40967132,
       122.85895974, 103.00047513,  93.93994565, 118.36764302,
       116.29143197,  78.03116527, 113.86530351,  94.47947466,
        98.3913614 ,  93.03614517,  69.43676056, 120.82004611,
        94.45262951, 101.39348783, 102.71995072, 104.52367609,
       109.8682239 , 100.81072722,  86.12104726, 137.26351937,
        90.04458007, 104.00502616, 101.49133071, 107.26663783,
       106.077966  , 107.14830557, 102.75106694,  93.44807476,
        92.45343694, 103.6742503 , 104.38546392,  92.71845976,
       102.51347781,  82.45047226, 111.71005471, 121.61728048,
        96.30100564,  55.65091649,  99.16565151,  71.53911824,
       119.83253781, 103.22745561, 118.55238321, 112.07056823,
       107.76812841, 117.79058033, 113.20641225, 148.74790763,
        95.98934306,  95.26746294,  92.33413057, 112.62310456,
        91.12770855,  93.96411591,  98.44141648,  73.19471526,
        97.14268563,  86.60754878, 109.52968258, 103.29388744,
        95.60508443, 129.44237878,  98.52995628, 108.71774057,
        97.4556148 , 129.4852594 ,  65.81248935, 105.89681964,
        86.49383473,  67.1149822 ,  86.21562861, 107.08966666,
        74.53229257, 112.16275098, 139.84342627,  67.52373103,
        94.78490658, 108.49689773, 111.1365156 ,  94.83392014,
        91.16398987,  85.87836942, 107.19596587,  87.44313768,
       121.09194137, 100.00221405,  91.60683448, 118.33810135,
       105.02557174, 104.56930569, 103.35500664,  98.55305733,
       119.2262532 ,  84.97221977, 111.65854921,  77.44624175,
        73.36505485, 106.51494913,  89.34784313, 116.44073037,
       114.18932893,  94.85124234,  81.21370756, 106.49453135,
        94.8856479 ,  91.98925833, 100.75206199,  93.94219832,
       107.2893825 ,  80.62762574,  88.54538543,  90.72354556,
       110.51022924, 124.24183959, 103.67332185,  87.99005629,
        88.98522061, 101.90539481,  92.46411788, 102.24533493])

Compute the **mean**, **median**, and **mode**

In [8]:
mean =np.mean(samples)
median =np.median(samples)
mode =stats.mode(samples)
mode

ModeResult(mode=array([54.79001307]), count=array([1]))

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [20]:
arr1=np.array(samples)
min  = np.min(arr1) 
max  = np.max(arr1)
q1   = np.percentile(arr1,25)
q3   = np.percentile(arr1,75)
iqr  = q1-q3
iqr

19.769697079053813

Compute the **variance** and **standard deviation**

In [23]:
variance = np.var(samples)
std_dev =np.std(samples)
variance,std_dev

(221.39668828064202, 14.879404836237303)

Compute the **skewness** and **kurtosis**

In [24]:
skewness = stats.skew(samples)
kurtosis =stats.kurtosis(samples)
skewness,kurtosis

(-0.0028867167392065576, -0.00958356147349626)

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [26]:
x = np.arange(10,21)

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [33]:
y = np.array([14,17,19,20,24,25,20,16,17,12,27])

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [34]:
r = np.corrcoef(x,y)
r

array([[1.        , 0.17450252],
       [0.17450252, 1.        ]])

## Pandas Correlation Calculation

Run the code below

In [60]:
x = pd.Series(range(10, 20),name="x")
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48],name="y")

Call the relevant method  to calculate Pearson's r correlation.

In [70]:

df=pd.merge(x,y,left_index=True,right_index=True)
r =df.corr(method="pearson")
r

         x        y
x  1.00000  0.75864
y  0.75864  1.00000

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [71]:
rho =df.corr(method="spearman")
rho

          x         y
x  1.000000  0.975758
y  0.975758  1.000000

## Seaborn Dataset Tips

Import Seaborn Library

In [73]:
import seaborn as sns

Load "tips" dataset from Seaborn

In [75]:
tips = sns.load_dataset("tips")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [77]:
tips.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

Call the relevant method to calculate pairwise Pearson's r correlation of columns

In [80]:
tips.corr(method="pearson")

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [81]:
tips.index

RangeIndex(start=0, stop=244, step=1)

In [83]:
tips.mean()

total_bill    19.785943
tip            2.998279
size           2.569672
dtype: float64