<a href="https://colab.research.google.com/github/bilgekisi96/lab1.1/blob/main/Statistics_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Descriptive Statistics

 Import **NumPy**, **SciPy**, and **Pandas**

In [6]:
import numpy as np
import pandas as pd
from scipy import stats

 Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

In [84]:
mean,standard_deviation = 100,15
samples = np.random.normal(mean, standard_deviation, 1000)

Compute the **mean**, **median**, and **mode**

In [8]:
mean =np.mean(samples)
median =np.median(samples)
mode =stats.mode(samples)
mode

ModeResult(mode=array([54.79001307]), count=array([1]))

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [20]:
arr1=np.array(samples)
min  = np.min(arr1) 
max  = np.max(arr1)
q1   = np.percentile(arr1,25)
q3   = np.percentile(arr1,75)
iqr  = q1-q3
iqr

19.769697079053813

Compute the **variance** and **standard deviation**

In [23]:
variance = np.var(samples)
std_dev =np.std(samples)
variance,std_dev

(221.39668828064202, 14.879404836237303)

Compute the **skewness** and **kurtosis**

In [24]:
skewness = stats.skew(samples)
kurtosis =stats.kurtosis(samples)
skewness,kurtosis

(-0.0028867167392065576, -0.00958356147349626)

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [26]:
x = np.arange(10,21)

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [33]:
y = np.array([14,17,19,20,24,25,20,16,17,12,27])

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [34]:
r = np.corrcoef(x,y)
r

array([[1.        , 0.17450252],
       [0.17450252, 1.        ]])

## Pandas Correlation Calculation

Run the code below

In [60]:
x = pd.Series(range(10, 20),name="x")
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48],name="y")

Call the relevant method  to calculate Pearson's r correlation.

In [70]:

df=pd.merge(x,y,left_index=True,right_index=True)
r =df.corr(method="pearson")
r

         x        y
x  1.00000  0.75864
y  0.75864  1.00000

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [71]:
rho =df.corr(method="spearman")
rho

          x         y
x  1.000000  0.975758
y  0.975758  1.000000

## Seaborn Dataset Tips

Import Seaborn Library

In [73]:
import seaborn as sns

Load "tips" dataset from Seaborn

In [75]:
tips = sns.load_dataset("tips")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [77]:
tips.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

Call the relevant method to calculate pairwise Pearson's r correlation of columns

In [80]:
tips.corr(method="pearson")

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [81]:
tips.index

RangeIndex(start=0, stop=244, step=1)

In [83]:
tips.mean()

total_bill    19.785943
tip            2.998279
size           2.569672
dtype: float64